	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
	    	<h2 class="featurette-heading">Historia</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive center-block" src="/assets/wine.jpg" alt="Generic placeholder image" style="width: 250px; height: 250px; margin-top: -10px;">
	</div>
	</div>

<div class="black_background">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Hoy en día</h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/assets/meat.jpg" alt="Dining" style="width: 250px; height: 250px; margin-top: -10px;">
        </div>
      </div>
</div>


<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-7">
	    	<h2 class="featurette-heading">Metas</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive center-block" src="/assets/tacobellini.jpg" alt="Generic placeholder image" style="width: 250px; height: 250px; margin-top: -10px;">
	</div>
	</div>
</div>
<div class="container">
    <div class="row">
    	<div class="col_1">
                	<div class="circle_1">
                			<span class="glyphicon glyphicon-user" style="padding-left: 55px;font-size: 52px;padding-top: 50px;" aria-hidden="true"></span>
        					<span class="sr-only">Previous</span>
                	</div>
                	<h2>Our testimonial</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. elit ut tempus lobortis, eros leo molestie velit.</p>
                </div>
                <div class="col_2">
                <div class="circle_1">
                			<span class="glyphicon glyphicon-book" style="padding-left: 55px;font-size: 52px;padding-top: 50px;" aria-hidden="true"></span>
        					<span class="sr-only">Previous</span>
                	</div>
                	<h2>Our testimonial</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. elit ut tempus lobortis, eros leo molestie velit.</p>
                </div>
                <div class="col_3">
                <div class="circle_1"> 
                			<span class="glyphicon glyphicon-road" style="padding-left: 55px;font-size: 52px;padding-top: 50px;" aria-hidden="true"></span>
        					<span class="sr-only">Previous</span>
                	</div>
                	<h2>Our testimonial</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique tristique lacus in varius. Donec nec vestibulum ligula. Aenean turpis diam, feugiat a luctus in, rhoncus eget risus. Maecenas consequat porttitor dui, vitae consequat massa imperdiet ut. elit ut tempus lobortis, eros leo molestie velit.</p>
                </div>  
                </div>
    </div>
    </div>
</div>