<div class="container">
	<form action="submit.php" method="post">
	        <fieldset>
	        	<div class="form-group">
	            	<label>Nombre:</label><br>
	                <input type="text" name="name" placeholder="Nombre Completo" class="form-control">
	             </div>
	             <div class="form-group">
	            	<label>E-mail:</label><br>
	                <input type="text" name="email" placeholder="Correo Electrónico" class="form-control">
	             </div>
	             <div class="form-group">
	            	<label>Número de teléfono:</label><br>
	                <input type="text" name="number" placeholder="Número de contacto" class="form-control">
	             </div>
	             <div class="form-group">
	            	<label>Comentario:</label><br>
	                <textarea name="comment" role="20" cols="50" placeholder="Escriba su comentario" class="form-control"></textarea>
	             </div>
	             <div class="form-group">
	            	 <input class="btn btn-primary" type="submit" value="Enviar"><br></label></form> 
	             </div>
	        </fieldset>     
	    </form>
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.348632626699!2d-68.3858584859911!3d18.55831467286448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea893d541c83c23%3A0xf9b13f8097de0e8f!2sBlueMall+Puntacana!5e0!3m2!1sen!2sdo!4v1515537029569" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	    	<strong>Dirección:</strong><p class="dir">Calle Salomé Ureña #59, Zona Colonial, Santo Domingo, República Dominicana.</p>
	    	<p><strong>Teléf:</strong> (809)-687-2526</br>
	    	<strong>E-mail:</strong> fundacion.americard@gmail.com</p>  
</div>           