<div class="container">
	<div class="row">
	        <div class="col-lg-4">
	          <%= cl_image_tag("cr_ipnvhv.jpg", :class => "img-circle", :width => 140, :height => 140) %>
	        </div>
	</div>
	<h2 class="bluemall">Bluemall Puntacana</h2>
	<p class="pbluemall">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
</div>

<div class="black_background">
	<div class="container">
			<hr class="featurette-divider">
				<div class="row featurette">
			        <div class="col-md-7">
			          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
			          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			        </div>
			        <div class="col-md-5">
			        	 <%= cl_image_tag("wine_ckcmne.jpg", :class => "featurette-image img-responsive center-block", :width => 500, :height => 500, :alt => "Generic placeholder image") %>
			        </div>
	    </div>
	</div>
</div>

<div class="container">
 <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
        	<%= cl_image_tag("meat_gvabpv.jpg", :class => "featurette-image img-responsive center-block", :width => 500, :height => 500, :alt => "Generic placeholder image") %>
        </div>
      </div>
</div>


<div class="black_background">
	<div class="container">
			<hr class="featurette-divider">
				<div class="row featurette">
			        <div class="col-md-7">
			          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
			          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			        </div>
			        <div class="col-md-5">
			          <%= cl_image_tag("tacobellini_d6igyu.jpg", :class => "featurette-image img-responsive center-block", :width => 500, :height => 500, :alt => "Generic placeholder image") %>
			        </div>
	    </div>
	</div>
</div>