
<hr class="featurette-divider">
<div class="container">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
          <h2 class="">Contact</h2>
          <ul>
          	<li><b>Dirección:</b> Boulevard turístico, esquina Carretera Juanillo, Blue Mall, Punta Cana, República Dominicana.</li>
          	<li><b>Correo:</b> <a href="mailto:saffronpuntacana@gmail.com">saffronpuntacana@gmail.com</a></li>
          	<li><b>Teléfono:</b> (809) 784-4141</li>
          </ul>
        </div>
    </div>
	<a href="https://www.facebook.com/profile.php?id=100017992084074" class="fa fa-facebook" style="font-size: 30px; width: 80px; padding: 25px;"></a>
	<a href="https://twitter.com/Saffron_RD?lang=en" class="fa fa-twitter" style="font-size: 30px; width: 80px; padding: 25px;"></a>
	<a href="https://www.instagram.com/saffronpuntacana/?hl=en" class="fa fa-instagram" style="font-size: 30px; width: 80px; padding: 25px;"></a>

	<p style="margin-right:290px; float:right;"><strong>Developed by:</strong></p>
    <div class="eso" style="border-radius: 500px;background: #bb85c8; none repeat scroll 0% 0%;width: 90px; height: 90px; float: right; font-size: 33px; margin-right:220px; margin-top: -75px;"><p style="margin-left: 11px; padding-top: 23px;width: 10px; height: 10px;color: #000000;">ESO</p>  
</div>
</div>
<div>

<div class="footer">
    <p class="final">Copyright© 2017 Saffron. All rights reserved</p>
</div>