<div class="header-img">
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a class ="active" href="/">Inicio</a></li>
            <li role="presentation"><a class ="active" href="/pages/about">Sobre</a></li>
            <li role="presentation"><a class ="active" href="/galeries">Galería</a></li>
            <li role="presentation"><a class ="active" href="/pages/contact">Contacto</a></li>
          </ul>
        </nav>
        <h1 id="logo">
                <a href="/">Saffron</a>
        </h1>
        </a>
      </div>
  </div>
</div>    

<%# 
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a class ="active" href="/">Home</a></li>
            <li role="presentation"><a class ="active" href="/pages/about">About</a></li>
            <li role="presentation"><a class ="active" href="/pages/contact">Contact</a></li>
          </ul>
        </nav>
        <a href="/">
          <img alt="Icon" src="/assets/logo_saffron.png"/>
        </a>
      </div>
%>
